<p id="notice"><%= notice %></p>
<h1>Top upcoming movies</h1>
<%#= @result %>
<div class="trailer">
     <% @trailers.each do |trailer| %>
      <tr>

          <iframe src='https://www.youtube.com/embed/<%= trailer.videoId %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      </tr>
    <% end %>
</div>


<br>
<div class="filmi">
<% @movies.each do |movie| %>
  <div class="naslov"><%= movie.title %> </div>
  <div class="slika"><%= link_to (image_tag 'https://image.tmdb.org/t/p/w300/' + movie.poster_path), movie_path(movie.id) %></div>
  <div class="datum"><%= movie.release_date %></div>
<% end %>
</div>


